<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
    <link rel="stylesheet" href="index.css" >
    <script src="http://127.0.0.1:5500/index.js"></script>
</head>

<body>
    <div class="main-container">
        <div class="bundle-save-container">
            <div class="horizontal-line"></div>
            <div class="bundle-text">Bundle &amp; Save</div>
            <div class="horizontal-line"></div>
        </div>
        <div class="item-card-container">
            <div class="bundle-save-container-card">
                <div class="bundle-save-container">
                    <input type="radio" class="radio-button" name="select" />
                    <div>
                        <p class="first-box-para">1 Pair</p>
                        <p class="first-box-para2">DKK 195.00</p>
                    </div>
                </div>
                <p class="first-box-para-next">50% OFF</p>
            </div>
        </div>
        <div class="item-card-container2">
            <div class="bundle-save-container-card">
                <div class="bundle-save-container">
                    <input type="radio" class="radio-button" name="select" checked />
                    <div>
                        <p class="first-box-para">1 Pair</p>
                        <p class="first-box-para2">DKK 345.000</p>
                    </div>
                </div>
                <span class="span-ele2">DKK 195.00</span>
                <div>
                    <p class="span-ele3">Most Popular</p>
                    <p class="first-box-para-next2">40% OFF</p>
                </div>
            </div>
            <div class="option-main-container">
                <div class="option-list">
                    <p class="option-para">Size</p>
                    <label class="quentity">#1</label>
                    <select class="select-container">
                        <option>S</option>
                    </select>
                    <br />
                    <label class="quentity">#2</label>
                    <select class="select-container">
                        <option>S</option>
                    </select>
                </div>
                <div class="option-list2">
                    <p class="option-para">Color</p>
                    <select class="select-container">
                        <option>Color</option>
                    </select>
                    <br />
                    <select class="select-container">
                        <option>Color</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="item-card-container">
            <div class="bundle-save-container-card">
                <div class="bundle-save-container">
                    <input type="radio" class="radio-button" name="select" />
                    <div>
                        <p class="first-box-para">3 Pair</p>
                        <p class="first-box-para2">DKK 528.00</p>
                    </div>
                </div>
                <p class="first-box-para-next">60% OFF</p>
            </div>
        </div>
        <div class="last-container">
            <p class="free-para">Free 2 Day Shipping</p>
            <p class="free-para2">Total : DKK 360.00</p>
        </div>
        <button class="button">+ Add to Cart</button>
          <p class="copy">&copy; <i>Powered by Pumper</i></p>
    </div>
</body>
</html>
